
/* Google open sense font */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url("../images/developer.png"),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;

}


/* nav styles   */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    float: left;
    margin-right: 35px;    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}
/* shared styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 34px 0 200px;
}
.banner-container{
    width: 585px;
    height: 356px;

}
.profil-pic{
    width: 584px;
    height: 676px;
}
.greeding{
    font-weight: 600px;
    font-size: 45px;
    
}
.profil-title{
    font-weight: bold;
    font-size: 85px;
}
.profil-description{
    font-size: 18;
    font-weight: regular;
}

